<section>

    <div class="container">
        <h1 class="h3 mt-3"> Register Now</h1>
        <form (ngSubmit)="register()" [formGroup]="registerForm" class="rounded shadow bg-light-main mx-auto p-3">
            <!-- (ngSubmit) better than (submit) as it stops the reload of the form-->
            <!-- it's better to use (ngSubmit) on the form instead on the (click) event on the button as
                 the user may use the keyboard not only clicking on the button -->

            <div class="p-2 m-1  ">
                <label for="name">Name:</label><span class="required"> *</span>
                <input placeholder="Name" class=" form-control " formControlName="name" type="text" id="name">

                <div class=" " *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched  ">
                    <!-- *ngIf="registerForm.get('name')?.errors && (registerForm.get('name')?.touched ||registerForm.get('name')?.value.length>0) "> -->
                    <!-- we can use hidden attribute but ngIf is better because it deletes un wanted elements from DOM -->
                    <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.get('name')?.getError('required')">Name is Required</p>
                    <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.get('name')?.getError('minlength')">Minmum length is 3</p>
                    <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.get('name')?.getError('maxlength')">Maximum length is 10</p>
                </div>
            </div>

            <div class="p-2 m-1   ">
                <label for="email">Email:</label><span class="required"> *</span>
                <input placeholder="Email" class="form-control " formControlName="email" type="email" id="email">

                <!-- <div class=" " *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched"> -->
                <div class=" " *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].touched">
                    <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.controls['email'].getError('required') "> Email is required </p>
                    <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.controls['email'].getError('email')"> please write a valid email Address
                    </p>
                </div>

            </div>


            <div class="p-2 m-1   ">
                <label for="password">Password:</label><span class="required"> *</span>
                <input placeholder="Password" class="form-control " formControlName="password" type="password"
                    id="password">

                <div class=" "
                    *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].touched  ">
                    <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.controls['password'].getError('required')"> the password is required </p>
                    <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.controls['password'].getError('pattern')"> the password must be at least
                        6characters </p>
                </div>

            </div>
            <div class="p-2 m-1   ">
                <label for="rePassword">Confirm Password</label><span class="required"> *</span>
                <input placeholder="Confirm Password" class="form-control " formControlName="rePassword" type="password"
                    id="rePassword">

                <div class=" "
                    *ngIf="(registerForm.controls['rePassword'].errors && registerForm.controls['rePassword'].touched && registerForm.controls['rePassword'].value) || 
                   ( registerForm.controls['password'].value != registerForm.controls['rePassword'].value && registerForm.controls['rePassword'].touched ) ">

                    <!-- <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.controls['rePassword'].getError('required')"> the password is required </p>
                    <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.controls['rePassword'].getError('pattern')"> the password must be at least
                        6characters </p> -->
                    <p class="text-danger fst-italic small fw-bold"> Password is not matched</p>
                </div>

            </div>

            <div class="p-2 m-1   ">
                <label for="phone">Phone Number:</label><span class="required"> *</span>
                <input placeholder="Phone" class="form-control " formControlName="phone" type="tel" id="phone">

                <div class=" " *ngIf=" registerForm.controls['phone'].errors && registerForm.controls['phone'].touched">
                    <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.controls['phone'].getError('required')"> your phone number is required </p>
                    <p class="text-danger fst-italic small fw-bold"
                        *ngIf="registerForm.controls['phone'].getError('pattern')"> please write a valid eqyption
                        phonenumber
                    </p>
                </div>
            </div>

            <button *ngIf="!isLoading" [disabled]="registerForm.invalid" class="main-btn d-block my-4 ms-auto  "
                type="submit">
                Register</button>

            <button *ngIf="isLoading" class="main-btn d-block my-4 ms-auto px-5 py-1" type=" button"> <i
                    class="fas sa-spin fa-spinner"></i></button>

            <p class="text-danger fst-italic small fw-bold" *ngIf="errorMessage"> {{errorMessage}}</p>
        </form>

    </div>


</section>