<section>

    <div class="container">

        <form [formGroup]="shippingAddress" (ngSubmit)="checkout(shippingAddress)" class=" w-75 mx-auto my-5">

            <label for="details">Details</label>
            <input  formControlName="details" class="form-control " id="details" type="text">


            <label for="phone">Phone</label>
            <input  formControlName="phone" class="form-control " id="phone" type="tel">

            <label for="city">City</label>
            <input  formControlName="city" class="form-control " id="city" type="text">

            <button type="submit" class="btn main-btn "> Order </button>

        </form>
    </div>
</section>