<section *ngIf="email" class="w-50 mx-auto rounded bg-main-light p-3 shadow">

    <form [formGroup]="forgetForm" (ngSubmit)="forgerPassword()">
        <label for="email">Email</label>
        <input formControlName="email" type="email" class="form-control" id="email">
        <button class="main-btn w-100 mt-3"> Send</button>
        <p *ngIf="userMsg" class="text-danger w-75 mx-auto p-1 mb-0 mt-2">
            {{userMsg}}
        </p>
    </form>

</section>


<section *ngIf="code" class="w-50 mx-auto rounded bg-main-light p-3 shadow">

    <form [formGroup]="codeVerificationForm" (ngSubmit)="verificationCode()">
        <label for="resetCode">Send verification Code</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        <button class="main-btn w-100 mt-3"> Send</button>

        <p *ngIf="userMsg" class="text-danger w-75 mx-auto p-1 mb-0 mt-2">
            {{userMsg}}
        </p>
    </form>

</section>


<section *ngIf="newPassword" class="w-50 mx-auto rounded bg-main-light p-3 shadow">

    <form [formGroup]="newPasswordForm" (ngSubmit)="sendNewPassword()">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" type="password" class="form-control" id="newPassword">
        <button class="main-btn w-100 mt-3"> Reset Password</button>

        <p *ngIf="userMsg" class="text-danger w-75 mx-auto p-1 mb-0 mt-2">
            {{userMsg}}
        </p>
    </form>

</section>